<div>
	ID: {{user.ID}}<br>
	Group: {{user.Group}}<br>
	Social ID: {{user.SocialID}}<br>
	Name: {{user.NameFirst}} {{user.NameLast}}<br>
	Email: {{user.Email}}<br>
	Profile link: /users/{{user.ID}}/<br>
	Avatar path: {{user.AvatarPath}}<br>
	Last access time: {{user.LastAccessTime}}<br>
	Role: {{user.RoleDesc}}<br>
	Type: {{user.TypeDesc}}<br>
</div>