<div>
	ID: {{user.ID}}<br>
	Name: {{user.NameFirst}} {{user.NameLast}}<br>
	Email: {{user.Email}}<br>
	Profile link: {{user.ProfileLink}}<br>
	Avatar path: {{user.AvatarPath}}<br>
	Last access time: {{user.LastAccessTime}}<br>
	Role: {{user.RoleDesc}}<br>
	Type: {{user.TypeDesc}}<br>
</div>