<div class="user-info-container">
	<div class="user-info-avatar"><img src="{{user.AvatarPath}}" width="200" alt="Изображения нет"></div>
	<div class="user-info-block">
		<h3>ИНФОРМАЦИЯ</h3>
		ID: {{user.Group}}<br>
		Имя: {{user.NameFirst}} {{user.NameLast}}<br>
		Email: {{user.Email}}<br>
		Публичная страница: /users/{{user.Group}}/<br>
		Статус: {{user.RoleDesc}}<br>
		Последний вход: {{user.LastAccessTime}}<br>
	</div>
	<div class="user-info-block">
		<h3>ПОДКЛЮЧЕННЫЕ АККАУНТЫ</h3>
		Вы вошли через: {{user.TypeDesc}}<br>
		{{#if user_accounts.vk}}
			<div class="user-info-account"><span class="user-info-check"></span> ВКонтакте</div>
		{{else}}<div class="user-info-account"><span class="user-info-uncheck"></span> ВКонтакте (<a href="{{links.vk}}">подключить</a>)</div>
		{{/if}}{{#if user_accounts.ok}}
			<div class="user-info-account"><span class="user-info-check"></span> Одноклассники</div>
		{{else}}<div class="user-info-account"><span class="user-info-uncheck"></span> Одноклассники (<a href="{{links.ok}}">подключить</a>)</div>
		{{/if}}{{#if user_accounts.fb}}
			<div class="user-info-account"><span class="user-info-check"></span> Facebook</div>
		{{else}}<div class="user-info-account"><span class="user-info-uncheck"></span> Facebook (<a href="{{links.fb}}">подключить</a>)</div>
		{{/if}}{{#if user_accounts.gl}}
			<div class="user-info-account"><span class="user-info-check"></span> Google</div>
		{{else}}<div class="user-info-account"><span class="user-info-uncheck"></span> Google (<a href="{{links.gl}}">подключить</a>)</div>
		{{/if}}<br>
	</div>
</div>