<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">

		<meta name="robots" content="{{#if noindex}}noindex, nofollow{{else}}index, follow{{/if}}">

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1, minimum-scale=1.0, maximum-scale=5.0">
		
		<meta name="description" content="{{pageDesc}}">
		<meta name="keywords"    content="ivankprod, ivank, colldier, production, video, audio, design, media, it"> 
		<meta name="author"      content="IvanK Production">

		<meta name="theme-color" content="#6dab1e">

		<meta property="app:scope" content="{{#if pageScope}}{{pageScope}}{{/if}}">

		<link rel="canonical" href="{{urlCanonical}}">

		<!--link rel="dns-prefetch" href="https://fonts.gstatic.com/"-->

		<meta property="og:title"       content="{{ogTags.title}}">
		<meta property="og:description" content="{{pageDesc}}">
		<meta property="og:type"        content="{{ogTags.type}}">
		<meta property="og:image"       content="{{ogTags.image}}">
		<meta property="og:url"         content="{{urlCanonical}}">
		<meta property="og:site_name"   content="IvanK Production">
		<meta property="og:locale"      content="ru_RU">

		<meta name="twitter:card"        content="summary_large_image">
		<meta name="twitter:title"       content="{{ogTags.title}}">
		<meta name="twitter:description" content="{{pageDesc}}">
		<meta name="twitter:image"       content="{{ogTags.image}}">

		<title>{{pageTitle}}</title>

		<style>
			.master-container {
				opacity: 0;
				transition: opacity 0.3s linear;
				background: #fff;
			}

			#loader {
				opacity: 0;
				position: absolute;
				top: 50%; left: 50%;
				transform: translate(-100px, -100px);
				transition: opacity 0.3s linear;
			}

			.preload { transition: none !important; overflow: hidden; }
		</style>

		<link type="text/css" rel="stylesheet" href="/static/fonts/fontawesome/css/solid.min.css">
		
		<link type="text/css" href="/static/css/app.88178814dc3aabfff31d.css" rel="stylesheet" integrity="sha256-/6Rpb9eLjtQEf+wkat+bjq/0lI6o2xz8LlaJw7VVEIo=" crossorigin="anonymous">
		
		<script type="text/javascript">
			window.tLoader = setTimeout(function() {
				document.getElementById('loader').style.opacity = '1';
			}, 1000);
		</script>

		<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    </head>
<body class="preload">
	<div id="loader">
		<div class="spinner-container"><div class="spinner"><div></div></div></div>
		<style type="text/css">
			@keyframes spinner {
				0%   { transform: translate(-50%,-50%) rotate(0deg);   }
				100% { transform: translate(-50%,-50%) rotate(360deg); }
			}
			.spinner {
				position: relative;
				width: 100%;
				height: 100%;
				transform: translateZ(0) scale(1);
				transform-origin: 0 0;
				backface-visibility: hidden;
			}
			.spinner div {
				position: absolute;
				width: 100px;
				height: 100px;
				top: 100px;
				left: 100px;
				border: 6px solid #b8d364;
				border-top-color: transparent;
				border-radius: 50%;
				box-sizing: content-box;
				animation: spinner 1s linear infinite;
			}
			.spinner-container {
				display: inline-block;
				width: 200px;
				height: 200px;
				background: #ffffff;
				overflow: hidden;
			}
		</style>
	</div>
<div id="master-container" class="master-container">
	<header>
		<div class="container header-picture"><div class="header-picture-wrapper"></div></div>
		<div class="stretch-container headtop">
			<div id="user-auth-info" class="container headline">
				{{#if data.user}}<div>Вы вошли как: {{data.user.NameFirst}} {{data.user.NameLast}} [{{data.user.RoleDesc}}]</div>
				<div><a class="spa" href="/auth/">Личный кабинет</a> | <a href="/auth/logout/">Выйти</a></div>{{/if}}
			</div>
		</div>
		<div class="stretch-container headline">
			<div class="container headline">
				<a href="/"><div class="logotype"></div></a>
				<div class="header-right">
					<div></div>
					<div class="global-info">
						<div class="global-info-row">
							<div>+7 <span class="sfix">(</span>495<span class="sfix">)</span> 000<span class="sfix">-</span>00<span class="sfix">-</span>00</div>
							<div class="global-info-stroke"><a href="mailto:join@ivankprod.ru">JOIN@IVANKPROD.RU</a></div>
						</div>
						<button class="rounded-all" data-href="/join/">Заполнить бриф</button>
					</div>
					<nav class="nav-container">
						<ul class="mnav">
							<li><a href="/" data-scope="home" class="spa{{#if activeHome}} nav-item-active{{/if}}">ГЛАВНАЯ</a></li>
							<li><a href="/projects/" data-scope="projects" class="spa subnav{{#if activeProjects}} nav-item-active{{/if}}">ПРОЕКТЫ</a></li>
							<li><a href="/services/" data-scope="services" class="spa subnav{{#if activeServices}} nav-item-active{{/if}}">УСЛУГИ</a></li>
							<li><a href="/blog/" data-scope="blog" class="spa{{#if activeBlog}} nav-item-active{{/if}}">БЛОГ</a></li>
							<li><a href="/about/" data-scope="about" class="spa{{#if activeAbout}} nav-item-active{{/if}}">О НАС</a></li>
							<li><a href="/contacts/" data-scope="contacts" class="spa{{#if activeContacts}} nav-item-active{{/if}}">КОНТАКТЫ</a></li>
						</ul>
						<div class="subnav-container animate-slidein-fadein-css">
							<div class="subnav-column">
								<div class="subnav-title">Subnav for projects</div>
								<ul class="snav">
									<li><a href="/projects/it/" class="spa">IT-технологии</a></li>
									<li><a href="#" class="">Меню 2ь ьь</a></li>
									<li><a href="#" class="">Меню 3</a></li>
									<li><a href="#" class="">Мебню 4ь</a></li>
									<li><a href="#" class="">Меню 5</a></li>
									<li><a href="#" class="">Менююю 1</a></li>
								</ul>
							</div>
							<div class="subnav-column">
								<div class="subnav-title">Subnav for projects 2</div>
								<ul class="snav">
									<li><a href="#" class="">Меню 1</a></li>
									<li><a href="#" class="">Менasdю 2ь ьь</a></li>
									<li><a href="#" class="">Менasdю 3</a></li>
									<li><a href="#" class="">Менююю 1</a></li>
								</ul>
							</div>
							<div class="subnav-column">
								<div class="subnav-title">Subnav for projects 3</div>
								<ul class="snav">
									<li><a href="#" class="">Меню 1</a></li>
									<li><a href="#" class="">Меню 2ь ьь</a></li>
									<li><a href="#" class="">Меню 3</a></li>
									<li><a href="#" class="">Мебню 4ь</a></li>
									<li><a href="#" class="">Меню 5</a></li>
								</ul>
							</div>
						</div>
						<div class="subnav-container animate-slidein-fadein-css">
							Subnav for services
						</div>
					</nav>
				</div>
			</div>
		</div>
